h1, h2, h3, p, a, div {
    color: #162521;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #4f7cac;
    font-size: 25px;
    padding: 3%;
}

header h1 {
    text-decoration: underline dotted;
    display: inline-block;
    position: relative;
    left: 5%;
}

header div {
    display: inline-block;
    position: absolute;
    margin-top: 5%;
    left: 63.5%;
}

header div ul {
    list-style-type: none;
}

header div ul li {
    display: inline-block;
    padding: 10px;
}

header div ul li a {  
    color: #3C474B;
    text-decoration: none;
}

body {
    background-color: #C0E0ED;
}

#AboutMe, #ContactInfo, #Projects, #Resume {
    display: inline-block;
    width: 65%;
    margin-right: 10px;
    margin-left: 10%;
    font-size: 140%;
    border-left: 5px solid #4f7cac;
    padding-left: 20px;
}

#AboutMe img {
    float: right;
    display: inline-block;
    position: absolute;
    max-height: 300px;
    margin-left: 65%;
    margin-top: -15%;
}

#ContactInfo a {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 13%;
}

#projectImgBig {
    width: 620px;
}

.projectImg{
    width: 300px;
    height: 300px;
}

#projectTitle1 {
    position: absolute;
    margin-top: 375px;
    margin-left: -600px;
    background-color: #4f7cac;
    padding: 3px;
}

#projectTitle2, #projectTitle3 {
    position: absolute;
    margin-top: 260px;
    margin-left: -275px;
    background-color: #4f7cac;
    padding: 3px;
}

#Projects div {
    display: inline-block;
}

#Projects img {
    border: 2px solid #3C474B;
    border-radius: 2px;
    padding: 4px;
}

#Projects img:hover {
    box-shadow: 0 0 2px 1px black;
}
